* {
    font-family: Calibri, Helvetica, sans-serif;
}

body{
    background-color: #474775!important;
}

.container {
    width: 100%;

}

.container-margin-login {
    margin: 20px;
}

.container-middle-1 {
    width: max-content;
}

.container-middle-2 {
    width: max-content;
    margin: auto;
}

.flex {
    display: flex;
}

.direct-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.flex-size {
    flex: 50%;
}


.margin-centre {
    /*display: block;*/
    /*margin: 20px auto;*/
}

.apollo img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.hr-break {
    margin: 0 50px;
    color: #474775;
    border: 1px solid #8585a0;
    border-radius: 20px;
    height: 420px;
}

h3 {
    color: #edf2f7;
    font-size: 35px;
}

.padding-25-width {
    padding: 0 25px;
}

.padding-25-height {
    margin: 25px 0;
}

.centred {
    text-align: center;
}

.button {
    background-color: #b087bc;
    border-radius: 25px;
    padding: 20px 70px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    color: rgb(59, 56, 56);
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.button a {
    color: rgb(59, 56, 56);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.button:hover {
    color: white;
    text-align: center;
    text-decoration: none;
    background: #29235c;
}
.button:hover a {
    color:white;
}


.white {
    color: white;
}

.font20 {
    font-size: 20px;
}
@media (max-width: 850px){
    .flex{
        display: inline-flex;
    }
    hr{
        display: none;
    }
}
@media (max-width: 750px)
{
    .flex{
        display: inline;
    }
    hr{
        display: none;
    }
}
